  <tr class="table-detail text-center">
    <td class="align-middle"><%= product.sku %></td>
    <td class="align-middle"><%= product.name %></td>
    <td class="align-middle"><%= product.description %></td>
    <td class="align-middle"><%= number_to_currency(product.price,unit: '$', :precision => 0, format: "%u %n") %></td>
    <td class="align-middle"><%= product.category.name %></td>
    <td class="align-middle"><%= product.model_product.name %></td>
    <td class="align-middle"><%= product.model_product.mark.name %></td>
    <td class="align-middle">
        <% product.variants.each do |variant| %>
            Talla: <%= variant.size_product.name %>
            Stock: <%= variant.stock %>
            <br>
        <% end%>
    </td>
    <td class="align-middle">
      <%= link_to "Ver ", get_productmanager_info_path(product, 'ver'), remote:true, class:"btn btn-success  btn-sm" %>
    </td>
    <td class="align-middle">
      <%= link_to "Editar", get_productmanager_info_path(product, 'editar'), remote:true, class:"btn btn-warning  btn-sm" %>
    </td>
    <td class="align-middle">
      <% if product.available == true %>
        <%= link_to "Desactivar", get_productmanager_info_path(product, 'desactivar'), remote:true, class:"btn btn-danger  btn-sm" %>
      <% else %>
        <%= link_to "Activar", get_productmanager_info_path(product, 'activar'), remote:true, class:"btn btn-danger  btn-sm" %>
      <% end %>
    </td>
  </tr>