<div class="p-4">
    <h2 class="text-center">Variantes por Productos</h2>
    <%= render partial: 'title'%>
     <!--Buscador-->
    <div class=" w-25 mt-3 mb-3 float-right">
        <%= form_tag( search_variant_productmanager_path, method: "get", remote: true, class:"d-flex input-group w-auto", id: :form_variant_search) do %>
            <%= text_field_tag :search, params[:search] , placeholder:"Buscar SKU...", class:"form-control shadow rounded-pill ", "aria-label" => "Search",id: :input_search_variant %><i class="fa fa-search fa-2x ml-2 mr-2 text-primary" aria-hidden="true"></i>
	    	<%= submit_tag "Buscar", class:"btn btn-outline-primary btn-search-pm", "data-ripple-color" => "dark", id: :submit_search_variant %>
	    <% end %>
    </div>
    <div class="mt-4">
         <div>
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr class="table-header text-center">
                        <th scope="col">Sku</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Modelo</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Talla</th>
                        <th scope="col">Stock</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody id="products_List_variant">
                    <%= render partial: "variant", collection: @variants %>
                </tbody>
            </table>
        <div>
    </div>
</div>