<!DOCTYPE html>
<html>
  <head>
    <title>Jeans Lover Shop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="container">
        <nav class="navbar navbar-light bg-light">
          <span class="navbar-brand mb-0 h1">Navbar</span>
          <%= link_to "Iniciar sesion", new_user_session_path %>
          <%= link_to "Cerrar sesion", destroy_user_session_path, method: :delete %>
        </nav>
      </div>
    
      <%= render "shared/alerts" %>

      <%= yield %>

    </div>
  </body>
</html>
